<!DOCTYPE html>
<html dir="auto" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ siteName }}</title>

    {# Preload Webfonts #}
    <link rel="preload" href="{{ craft.vite.asset("src/fonts/sourcesanspro-bold-webfont.woff2") }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ craft.vite.asset("src/fonts/sourcesanspro-light-webfont.woff2") }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ craft.vite.asset("src/fonts/sourcesanspro-regular-webfont.woff2") }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ craft.vite.asset("src/fonts/sourcesanspro-semibold-webfont.woff2") }}" as="font" type="font/woff2" crossorigin>

    {# Load our main CSS file to avoid FOUC in dev mode #}
    {% if craft.vite.devServerRunning() %}
        <link rel="stylesheet" href="{{ craft.vite.asset("src/css/app.css") }}">
    {% endif %}

    {{ craft.vite.script('src/js/app.js', false) }}
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>